.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  background-color: brown;
  color: #fff;
}
.top p {
  font-size: 20px;
  text-transform: uppercase;
}
.btn {
  padding: 20px;
  background-color: blue;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  width: 150px;
  border: none;
  box-shadow: 0 0 10px rgb(226, 72, 72);
  border-radius: 5px;
  cursor: pointer;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
}
.number {
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
}
.left {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.left button.check {
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
}
input {
  padding: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(224, 57, 57, 0.2);
}
.message {
  margin-left: 100px;
  font-size: 20px;
  font-family: sans-serif;
  color: green;
  font-weight: bolder;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bolder;
  background-color: brown;
  color: #fff;
}
